<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
    <div class="card-header p-0">
      <%= image_tag "default.jpeg" , class: 'img-fluid', size: '263x131.5' %>
    </div>
    <div class="card-body text-dark">
      <p id="text-<%text.id%>">
        <p class="btn btn-secondary btn-block">読破済みにする</p>
        <p class="card-text mt-3"><%= text.title%></p>
        <p>【<%= text.genre %>】</p>
      </div>
    </div>
  </div>
